
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/index/css/bootstrap4.min.css"/>
	<script src="/static/index/js/jquery-3.2.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/index/js/popper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/index/js/bootstrap4.min.js" type="text/javascript" charset="utf-8"></script>
	<link rel="stylesheet" href="/static/index/css/head.css" />
</head>
<body>
	<header class="head col-md-12">
	  	<div  style="margin: 0 auto; width: 64rem; height: 1.8rem;">
	  		<div class="nav-right">

	  			<a href="shoppingcarthav.php" style="color: orangered;">购物车</a>
	  			<a href="#">手机天天</a>
	  		</div>
	  		
	  		<div class="nav-left">
	  			<a href="index.php">返回首页</a>
	  			<a href="#">网站导航</a>
	  			<a style="color: orangered;" href="exit.php">退出登录</a>
	  			<a href="#">客户服务</a>
	  		</div>
	  	</div>
	</header>
	<div style="background: white;">
			<div class="search">
				<div style="width: 50rem; height: 6.2rem;float: right;">
					<div style="width: 100%; height: 2.5rem; margin-top: 1.6rem;">
						<form action="productlist.php" target="_parent" method="get">
							<input type="text" name="sea" class="form-control" placeholder="搜索" style="width: 31.2rem; float: left;"/>
							<input type="submit" class="btn btn-info" value="搜索" style="float: left;"/>
						</form>
					</div>
					<div style="width:100%; height: 1.8rem; font-size: 1rem;">
						
					</div>
				</div>
				<div style="width: 11.8rem; height: 6.2rem;">
					<img src="/static/index/image/logo.jpg"/>
				</div>
			</div>
		</div>
</body>
</html>
